<style>
    table.GeneratedTable {
      width: 900px;
      background-color: #6f1ab1;
      border-collapse: collapse;
      border-width: 2px;
      border-color: #ffcc00;
      border-style: groove;
      color: #000000;
    }
    
    table.GeneratedTable td, table.GeneratedTable th {
      width: 300px;
      background-color: #ffffff;
  border-collapse: collapse;
  border-color: #ffffff;
  border-style: solid;
  color: #000000;
    }
    
    table.GeneratedTable thead {
      background-color: #ffcc00;
    }
    
    .myButton {
              box-shadow:inset 0px 1px 0px 0px #7a8eb9;
              background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
              background-color:#637aad;
              border:1px solid #314179;
              display:inline-block;
              cursor:pointer;
              color:#ffffff;
              font-family:Arial;
              font-size:13px;
              font-weight:bold;
              padding:6px 50px;
              text-decoration:none;
            }
            .myButton:hover {
              background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
              background-color:#5972a7;
            }
            .myButton:active {
              position:relative;
              top:1px;
            }
            
    </style>